[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
jupyter = "*"
jupyter_contrib_nbextensions = "*"
jupyter-nbrequirements = "*"
prompt-toolkit = "*"
srcopsmetrics = "*"
requests = "*"
spacy = "*"
pyenchant = "*"
gensim = "*"
tqdm = "*"
pyldavis = "*"
pyyaml = "==3.13"
scikit-learn = "*"
click = "*"
matplotlib = "*"

[dev-packages]
pytest = "*"
pytest-timeout = "*"
pytest-cov = "*"
hypothesis-auto = "*"
hypothesis = "*"
pytest-mypy = "*"

[requires]
python_version = "3.6"
